<ion-view view-title="Home" id="home_content">
  <ion-nav-title>
    <ion-header-bar class="item-input-inset" id="nav_input">
      <div class="header-input">
        <label class="item-input-wrapper" >
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input  type="search" placeholder="请输入商家、商品" disabled>
        </label>
      </div>
    </ion-header-bar>
  </ion-nav-title>
  <ion-content >
    <ion-slide-box id="home_nav">
      <ion-slide >
        <div class="row">
          <div class="col"><a href="#/tab/food"><img src="img/美团Home_1.png" alt="img1"><p>美食</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_2.png" alt="img2"><p>电影</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
        </div>
        <div class="row">
          <div class="col"><a href="#/tab/food"><img src="img/美团Home_1.png" alt="img1"><p>美食</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_2.png" alt="img2"><p>电影</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
        </div>
    </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col"><a href="#/tab/food"><img src="img/美团Home_1.png" alt="img1"><p>美食</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_2.png" alt="img2"><p>电影</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
        </div>
        <div class="row">
          <div class="col"><a href="#/tab/food"><img src="img/美团Home_1.png" alt="img1"><p>美食</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_2.png" alt="img2"><p>电影</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
          <div class="col"><a href="#"><img src="img/美团Home_3.png" alt="img3"><p>酒店</p></a></div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <div id="content">
      <div class="row">
        <div class="col">
          <div class="logo">
            <img src="img/美团Home_4_r1_c1.png" alt="名店抢购">
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col-33">
          <a href="#">
            <div class="shop"><img src="img/美团Home_4_r18_c8.png" alt="img"><span>鸡翅好吃</span></div>
            <div class="price"><span>71.9元    <del>89.9元</del></span></div>
          </a>
        </div>
        <div class="col-33">
          <a href="#">
            <div class="shop"><img src="img/美团Home_4_r18_c8.png" alt="img"><span>鸡翅好吃</span></div>
            <div class="price"><span>71.9元    <del>89.9元</del></span></div>
          </a>
        </div>
        <div class="col-33">
          <a href="#">
            <div class="shop"><img src="img/美团Home_4_r18_c8.png" alt="img"><span>鸡翅好吃</span></div>
            <div class="price"><span>71.9元   <del>89.9元</del></span></div>
          </a>
        </div>
      </div>
    </div>


  <div id="oneYuan">
    <ion-list>
      <ion-item class="oneYuan_hanberge">
        <div class="row">
          <div class="col-40">
            <p><b>1元吃大餐</b><span>新用户专享</span></p>
          </div>
          <div class="col-60"><img class="hanberge" src="img/美团Home_4_r21_c17.png" alt="img"></div>
        </div>
      </ion-item>
      <ion-item class="oneYuan_hanberge">
        <div class="row">
          <div class="col-40">
            <p><b>1元吃大餐</b><span>新用户专享</span></p>
          </div>
          <div class="col-60"><img class="hanberge" src="img/美团Home_4_r21_c17.png" alt="img"></div>
        </div>
      </ion-item>
      <ion-item class="oneYuan_hanberge">
        <div class="row">
          <div class="col-40">
            <p><b>1元吃大餐</b><span>新用户专享</span></p>
          </div>
          <div class="col-60"><img class="hanberge" src="img/美团Home_4_r21_c17.png" alt="img"></div>
        </div>
      </ion-item>
    </ion-list>
  </div>

    <div id="youLove">
      <div class="row">
        <div class="col title">
          <h3>猜你喜欢</h3>
        </div>
      </div>
      <ion-list class="loveList">
        <ion-item ng-repeat="love in loves" class="item-thumbnail-left item-text-wrap" >
          <img ng-src="{{love.src}}">
          <h2>{{love.title}}</h2>
          <p >{{love.body}}</p>
          <span>{{love.price_now}}   <del>{{love.price_old}}</del></span>
          <ion-option-button class="button-positive"
                             ng-click="share(love)">
            分享
          </ion-option-button>
          <ion-option-button class="button-assertive"
                             ng-click="loves.splice($index, 1)">
            删除
          </ion-option-button>
        </ion-item>
        <ion-item class="more" ng-click="seeMore()">
          查看更多
        </ion-item>
      </ion-list>


    </div>


  </ion-content>
</ion-view>
